<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <% include ../partials/header %>
    <div class="container">
            <h1><b>Midterm Exam</b></h1>
        <main>
            <div class="jumbotron">
                <h1 class="display-3">Book Database</h1>
                <div class="lead">by Pisit Keawfung 6030213005</div>
                <hr>
                <p>More info</p>
                <a name="" id="" class="btn btn-primary" href="#" role="button">Let's get started</a>
            </div>
        </main>
    </div>
    <footer>
        <% include ../partials/footer %>
    </footer>

</body>

</html>